body {
  border: solid thin black;
}

div {
  /*width: 700px;*/
  padding: 5px;
}

.note {
  height: 200px;
}

button {
  width: 100px;
  float: right;
  margin: 5px;
  border-radius: 10px;
}

body:after {
  content: "";
  display: block;
  clear: both;
}

.shadow {
  box-shadow: 5px 5px 5px lightsteelblue;
}


.label-field {
  display: flex;
}

.label-field label {
  width: 5em;
}

.label-field input,
.label-field fieldset,
.label-field textarea {
  flex: 1;
}

