body {
  border: solid thin black;
  padding: 1em;
}

div {
  padding: 1em;
}


textarea {
  height: 200px;
}

button {
  float: right;
  width: 100px;
  margin: 5px;
  border-radius: 10px;
}

.label-field {
  display: flex;
}

.label-field label {
  width: 5em;
}

.label-field input,
.label-field fieldset,
.label-field textarea {
  flex: 1;
}

/* Note styles */

.note {
  margin: 1em 0em; 
  padding: 1em;

  border: 1px solid #eee;
}

.note h3, .note div, .note p {
  margin: 0;
  padding: 0;
}

/* error style */
.error-field {
  color: red;
}

.no-padding {
  padding: 0em;
}

.note-completion.note-is-not-completed {
  color: #ccc;
}